.header {
	padding: 40px 0px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
		gap: 35px;
		text-transform: uppercase;
	}

	&__list-link {
		@extend %quicksand-400;
		padding-bottom: 2px;
		color: var(--title);
		transition: all .3s;

		&:hover {
			@extend %quicksand-500;
			color: var(--accent);
			border-bottom: 1px solid var(--accent);
		}
	}

	&__list-link--active {
		@extend %quicksand-500;
		color: var(--accent);
		border-bottom: 1px solid var(--accent);
	}
}

.user-nav {
	display: flex;
	gap: 25px;

	&__link {
		position: relative;
	}

	&__num {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--accent);
		color: var(--white);
		line-height: 20px;
		font-size: 12px;
		text-align: center;
		top: -9px;
		right: -14px;
	}
}

